body {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: auto;
}
.navbar {
  display: flex;
  justify-content: center;
}
a {
  /* background-color: aqua; */
  /* display: flex; */
  margin: auto;
}
form {
  display: flex;
  flex-direction: column;
  margin: auto;
}
