<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/about.css" />
    <title>about</title>
  </head>
  <body>
    <div class="navbar-container">
      <a href="/index.html">Home</a>
      <a href="/pages/about.page.html">about</a>
      <a href="/pages/login.page.html">login</a>
      <a href="/pages/signup.page.html">signup</a>
    </div>
    <div class="container">
      <div class="about-box">
        <h1>about this site</h1>
        <hr />
        <p>here are some details about this website</p>
        <ul>
          <li>Mongo</li>
          <li>Express</li>
          <li>Authentication</li>
          <li>JavaScript</li>
        </ul>
      </div>
    </div>
  </body>
</html>
