<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/about.css" />
    <title>about</title>
  </head>
  <body>
    <div class="container">
      <div class="about-box">
        <h1>About This Site</h1>
        <hr />
        <p>This site is built using:</p>
        <ul>
          <li>
            <strong>MongoDB Atlas</strong> - Cloud database for storing and
            managing data.
          </li>
          <li>
            <strong>Express.js</strong> - Framework for handling server requests
            and routing.
          </li>
          <li>
            <strong>JWT Authentication</strong> - Ensures secure user login and
            session handling.
          </li>
          <li>
            <strong>Node.js</strong> - JavaScript runtime for building the
            backend.
          </li>
        </ul>
      </div>
    </div>
  </body>
  <script src="/global/navbar.js"></script>
</html>
