<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/admin.css">
    <title>manage</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to admin page</h1>
      <h2>admin can manage users</h2>
      <hr />
      <div class="users-box"></div>
    </div>
  </body>
  <script src="/global/navbar.js"></script>
  <script src="/scripts/admin.script.js"></script>
</html>
