<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <title>welcome</title>
  </head>
  <body>
    <div class="navbar-container">
      <a href="/pages/home.page.html">Home</a>
      <a href="/pages/about.page.html">about</a>
      <a href="/pages/login.page.html">sign-in</a>
      <a href="/pages/signup.page.html">login</a>
    </div>
    <div class="container">
      <h1>welcome to home page</h1>
      <h2>you can explore some images here</h2>
      <hr />
      <div class="img-showcase"></div>
    </div>
  </body>
</html>
