<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/login.css">
    <title>welcome</title>
  </head>
  <body>
    <div class="navbar-container">
      <a href="/pages/home.page.html">Home</a>
      <a href="/pages/about.page.html">about</a>
      <a href="/pages/login.page.html">sign-in</a>
      <a href="/pages/signup.page.html">login</a>
    </div>
    <div class="container">
      <h2>login with email and password</h2>
      <form>
        <label for="email">Enter email</label>
        <input type="text" placeholder="E-mail" required />
        <label for="password">Enter password</label>
        <input type="text" placeholder="password" required />
        <input type="submit" value="Login" />
      </form>
    </div>
  </body>
</html>
