#create {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  
  #create > form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px; /* Space between the label and the input */
    font-weight: bold; /* Optional: Make the label text bold */
    color: #686868; /* Optional: Change label text color */
  }
  
  input ,select{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin: 0 0 10px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  }
  

  form:nth-of-type(12):hover {
    cursor: pointer;
  }
  