body {
  text-align: center;
  width: 100px;
  margin: auto;
}
table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 800px;
}
th,
td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
