body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  flex-direction: column;
}

#container {
  display: flex;
  border: 1px #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
#input {
  margin: 20px;
  text-align: center;
}

#input input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  margin-right: 10px;
}

#input button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#input button:hover {
  background-color: #0056b3;
}

#weatherinfo {
  text-align: left;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 400px;
  margin: 0;
  font-family: "Arial", sans-serif;
}

#weatherinfo h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#weatherinfo h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

#weatherinfo p {
  font-size: 16px;
  margin: 5px 0;
}

.mapouter {
  position: relative;
  text-align: center;
  height: 500px;
  width: 600px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}
