body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    text-align: center;
}
.order-id {
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: bold;
    font-size: 1.2em;
    color: #ff6347;
}
#foodImage {
    margin-top: 20px;
    max-width: 300px;
    border-radius: 10px;
}
button {
    padding: 10px 20px;
    background-color: #ff6347;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #ff4500;
}
.food-options {
    margin-bottom: 20px;
}
img{
    width: 200px;
    object-fit: cover;
    height: 200px;
}
