.users-box {
  margin-top: 20px;
  background-color: #e0e7ff;
  height: fit-content;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}
.users-box hr {
  width: 90%;
  margin: 10px 0;
}

.user-card {
  width: 100%;
  max-width: 350px;
  margin: 10px;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
}

.card {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #eee;
  text-align: left;
}

.card h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: 600;
}

.card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 8px;
}

.card p strong {
  color: #333;
}

.delete {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete:hover {
  background-color: #e63946;
}

.card hr {
  margin: 15px 0;
  border: 0;
  border-top: 1px solid #ddd;
}
