body {
  width: 100%;
  margin: auto;
}
#navbar {
  display: flex;
  color: white;
  justify-content: space-between;
  background-color: black;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}
#navbar>h1{
  margin-left: 10%;

}
#navbar a {
  color: white;
  transition: color 0.3s
}
#navbar > div {
  display: flex;
  width:30%;
  margin-right: 10%;
  justify-content: space-around;
}
#navbar div a:hover {
  color: #ffdd57;
}
